.nasl-callfunction {
    display: inline-block;
    align-items: center;
    border: 2px solid #E4E4E6;
    border-radius: 4px;
    padding: 8px 12px;
}
.nasl-callfunction h1 { 
    font-size: 16px;
    margin: 0;
}
.nasl-callfunction-name {
    display: inline-block;
   margin-left: .5em;
}

.nasl-func-args-wrapper{
    display: flex;
    flex-direction: column;
    min-width: fit-content;
}

.nasl-func-args {
    display: flex;
    align-items: center;
}

.nasl-assignment {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    border: 2px solid #E4E4E6;
    border-radius: 4px;
    padding: 8px 12px;
}
.nasl-ifstatement,
.nasl-while{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border: 2px solid #E4E4E6;
    border-radius: 4px;
    padding: 8px 12px;
}
.nasl-if-test{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.nasl-block{
    margin-left: 20px;
}


